{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <table class="table">
        <div><a href="/register"><button type="button" style="width:40;height:40" value="Register">Register Resident</button></a></div>
        <div><button type="button" style="width:40;height:40" value="">Reports</button></div>
        <div><button type="button" style="width:40;height:40" value="">Requests</button></div>
        <div><button type="button" style="width:40;height:40" value="">Notices - News</button></div>
        <div><button type="button" style="width:40;height:40" value="">For Sale</button></div>
        <div><button type="button" style="width:40;height:40" value="">Info / Rules / Regulations</button></div>
    </table>
{% endblock %}
