{% extends "layout.html" %}

{% block title %}
    List of residents
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col">Unit</th>

        </tr>
        </thead>

        <tbody>
            {% for row in transactions %}
        <tr>
        <td >{{ row["nome"] }}</td>
        <td >{{ row["sobrenome"] }}</td>
        <td >{{ row["username_email"] }}</td>
        <td> {{ row["phone"] }}</td>
        <td> {{ row["unit"] }}</td>
        <td value="delete" action="/delete" method="post"> <type="button"  type="submit">Delete</button></td>
        <td> <type="button" value="edit">Edit</button></td>

        </tr>
        {% endfor %}
        </tbody>

    </table>

    {% endblock %}